<div class='auth-page'>
  <div class='auth-holder'>
    <% if flash[:errors] %>
      <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
    <% end %>

    <form class="form-signin" action="<%= session_url %>" method="post">
      <h2 class="form-signin-heading">Welcome Back</h2>
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <input type="text"
             class="form-control"
             placeholder="Username"
             name="user[username]"
             id="user_username"
             required autofocus>

      <input type="password"
             class="form-control"
             placeholder="Password"
             name="user[password]"
             id="user_password">
      <br>

      <input type="submit"
             class="button btn-lg btn-primary btn-block">
    </form>

    <div>
      Don't have an account?
      <br>
      <%= link_to "Sign Up", new_user_url %> or
      <br>
      <%= link_to "Sign in as Guest", new_user_url %>
    </div>
  </div>
</div>