<div class="panel panel-primary">
  <div class="panel-heading togglable toggle-root">
    <br>
    <h3 class="panel-title togglable">
      <ul class='list-inline togglable'>
        <li class='togglable'>
          <a href="<%= entry.escape('url') %>">
            <%= entry.escape('title') %>
          </a>
        </li>
        <li class='pull-right togglable'>
          <a class='feed-link'><%= entry.escape('feed_title') %></a> - 
          <%= date %>
        </li>
      </ul>
    </h3>
  </div>
  <div class="content panel-body">
    <%= entry.get('content') %>
  </div>
</div>
