<div class="panel panel-primary">
  <div class="panel-heading">
    <div class='toggle-off'><br></div>
    <h3 class="panel-title">
      <ul class='list-inline'>
        <li>
          <a href="<%= entry.escape('url') %>">
            <%= entry.escape('title') %>
          </a>
        </li>
        <li class='pull-right'>
          <a class='feed-link'><%= entry.escape('feed_title') %></a> -  
          <%= (new Date(entry.get('published_at'))).toString() %>
        </li>
      </ul>
    </h3>
  </div>
  <div class="content panel-body">
    <%= entry.get('content') %>
  </div>
</div>
